main{
    min-height: 780px!important;
}
.infos{
    font-size: 23px!important;
    min-width: 80%;

}
.size{
    font-size: 60px;
    text-decoration: none;
    color: #282828!important;
}
div > #link:hover{
    text-decoration:underline!important;
}
.rafamelis{
    max-width: 90%;
    min-height: 85%;
}

h5{
    font-size: 30px!important;
}
div > p {
    font-size: 20px!important;
}
hr{
    width: 100%;
}


/* rodopé */

.rodinha{
    position: absolute;
    bottom: 0!important;
    width: 100%;  
    
}

/* Experiencia */

.containerExp{
    padding-bottom: 10px;
    
}
.tituloExp{

    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;

}
.accordion{
    max-width: 700px;
    
    
   }

#headingOne{
    color: #ffffff!important;
}
.exp-box {
    text-align: center;
    color: #ffffff!important;
    background-color: #293768!important;
    border-radius: 5px;    
  }
.meu-texto{
    background-color: #293768!important;
    color: #ffffff!important;
    text-align: right;
}
div .nav-li {
     text-align: center;
     font-size: 20px;
     margin: 5px 5px 5px ;
     justify-items: center;
}
  

.container-skills{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}
.container-skills img{
    max-width: 200px;
    max-height: 200px;
    padding-right: 10px;
    padding-top: 20px;

}
.container-img > img:hover{
    transition: 1.5s;
    transform: rotateY(360deg);
    cursor: pointer;
}

 /* Fim PG EXP */

