.cartao {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 645px;
    width: 510px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 1s;
  }
.cartao:hover .cartao-front{
    transform:rotateX(-180deg);

}
.cartao:hover .cartao-back{
    transform: rotateX(0deg);

}
.cartao-front{
    height: 100%;
    width: 100%;
    background-image: url(../img/foto2.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 1s;

}
.cartao-back{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 1s;
    color: #ffffff;
    text-align: center;
}
.cartao-back h2 {
    margin: 60% auto 35% auto;
    font-size: 46px;
  }
.cartao-back h2 span{
    font-size: 40px;

}
.cartao-back a{
     height: 20px;
     width: 20px;
     padding: 5px 5px;
     border-radius: 4px;
     line-height: 20px;
     color: #ffffff;

}

.cartao-back a:hover{
    color: #000000;
    background-color: #ffffff;
}